/* Forms */
.cms_forms_error_msg{
	padding:			1em;
	background:			#fbe3e4;
	color:				#8a1f11;
	border-color:		#fbc2c4;
}
.cms_forms_msg {
	padding:			10px;
	background:			#e6efc2;
	color:				#264409;
	border-color:		#c6d880;
}
.cms_forms td {
	border:				0;
}
.cms_forms textarea {
	width:				250px;
	height:				100px;
}
.cms_forms label{
	color:				#473933;
	font-size:			12px;
	font-weight:		bold;
}
.cms_forms input, 
.cms_forms textarea, 
.cms_forms select {
	color:				#393939;
	background:			#fff;
	border:				1px solid #A59893;
	padding:			2px;
}
.cms_forms input.button{
	background:			#78B704;
	border:				0px;
	color:				#FFFFFF;
	cursor:				pointer;
	line-height:		18px;
	width:				60px;
	border-radius:		.5em;
}