.left {
    float:                      left;
}
.right {
    float:                      right;
}
.center {
    margin-left:                auto;
    margin-right:               auto;
}
.clear {
    clear:                      both;
}
.clearfix:after {
    clear:                      both;
    content:                    ".";
    display:                    block;
    height:                     0;
    line-height:                0;
    visibility:                 hidden;
}
.inline {
    display:                    inline-block;
}
.hide {
    display:                    none;
}